In [6]:
import arcpy

In [7]:
import requests
import datetime
import numpy as np
import pandas as pd
import os

In [8]:
import pandas as pd

df = pd.read_csv (r'C:\Users\gisse015\Documents\ArcGIS\Projects\Lab1\ndawn_1.csv')   #read the csv file (put 'r' before the path string to address any special characters in the path, such as '\'). Don't forget to put the file name at the end of the path + ".csv"
print (df)

   Station Name  Latitude (deg)  ...  Dew Point  Wind Chill
0        Eldred       47.688000  ...    -21.330     -25.014
1        Perley       47.179000  ...    -22.237     -27.168
2      Humboldt       48.884000  ...    -18.255     -25.728
3       Stephen       48.456750  ...    -18.793     -29.209
4        Warren       48.137000  ...    -18.820     -26.745
..          ...             ...  ...        ...         ...
86        Alamo       48.546510  ...    -27.607     -24.100
87       Dagmar       48.555903  ...    -30.303     -32.500
88     Redstone       48.821094  ...    -25.798     -24.737
89       Dooley       48.833729  ...    -23.843     -35.945
90         Hope       47.368352  ...    -17.450     -28.357

[91 rows x 18 columns]

In [10]:
import pandas as pd

df = pd.read_csv (r'C:\Users\gisse015\Documents\ArcGIS\Projects\Lab1\ndawnnew.csv')
print (df)

   Station Name  Latitude  ...  Number Missing.1  Number Estimated.1
0       Zeeland  46.01351  ...               0.0                 0.0
1           NaN       NaN  ...               NaN                 NaN
2       Zeeland  46.01351  ...               0.0                 0.0
3           NaN       NaN  ...               NaN                 NaN
4       Zeeland  46.01351  ...               0.0                 0.0
..          ...       ...  ...               ...                 ...
58      Zeeland  46.01351  ...               0.0                 0.0
59          NaN       NaN  ...               NaN                 NaN
60      Zeeland  46.01351  ...               0.0                 1.0
61          NaN       NaN  ...               NaN                 NaN
62      Zeeland  46.01351  ...               0.0                 0.0

[63 rows x 13 columns]

In [11]:
base_ndawn_url = "https://ndawn.ndsu.nodak.edu/table.csv"

master_params = {"station" : "110","variable" : "mdavt", "dfn" : "","year" : "2021","ttype" : "monthly", "quick_pick" : "", "begin_date" : "2020-02","count" : "122"}

In [12]:
req_response = requests.get(base_ndawn_url, params = master_params)

with open("ndawnnew.csv", "w") as newCSV_txt:
    newCSV_txt.write(req_response.content.decode('utf-8'))

In [13]:
peek = pd.read_csv('ndawnnew.csv', skiprows = 3)
peek.head()

                                                                                                                                                                                                        Flag Definition Line: M - Missing; E - Estimated; N/A - Not Available
Station Name Latitude Longitude Elevation Year Month Avg Temp  Number Missing Number Estimated Monthly Normal Average Air Temperature Departure from Normal Monthly Average Air Tempe... Number Missing                                   Number Estimated
NaN          deg      deg       ft        NaN  NaN   Degrees F NaN            NaN              Degrees F                              Degrees F                                          NaN                                                           NaN
Zeeland      46.01351 -99.68768 2070      2020 2     15.701    0              0                15.50                                  0.201                                              0                                                               0
                                               3     29.808    0              0                27.61                                  2.198                                              0                                                               0
                                               4     37.843    0              0                41.11                                  -3.267                                             0                                                               0

# 2

In [14]:
import pandas as pd

In [15]:
base_ndawn_url = "https://ndawn.ndsu.nodak.edu/table.csv"

master_params = {"station" : "110","variable" : "mdavt", "dfn" : "","year" : "2019","ttype" : "monthly", "quick_pick" : "", "begin_date" : "2019-02","count" : "122"}

In [18]:
req_response = requests.get(base_ndawn_url, params = master_params)

with open("ndawnnew3.csv", "w") as newCSV_txt:
    newCSV_txt.write(req_response.content.decode('utf-8'))

In [306]:
peek = pd.read_csv('ndawnnew2.csv', skiprows = 3)
peek.head()=[]

                                                                                                                                                                                                        Flag Definition Line: M - Missing; E - Estimated; N/A - Not Available
Station Name Latitude Longitude Elevation Year Month Avg Temp  Number Missing Number Estimated Monthly Normal Average Air Temperature Departure from Normal Monthly Average Air Tempe... Number Missing                                   Number Estimated
NaN          deg      deg       ft        NaN  NaN   Degrees F NaN            NaN              Degrees F                              Degrees F                                          NaN                                                           NaN
Zeeland      46.01351 -99.68768 2070      2019 2     -1.721    0              28               15.50                                  -17.221                                            0                                                              28
                                               3     19.247    0              31               27.61                                  -8.363                                             0                                                              31
                                               4     41.227    0              30               41.11                                  0.117                                              0                                                              30

In [275]:
import pandas as pd

df = pd.read_csv (r'C:\Users\gisse015\Documents\ArcGIS\Projects\Lab1\ndawnnew.csv', sep ='you_delimiter', header=None, engine='python')
print (df)

                                                    0
0   Data from North Dakota Agricultural Weather Ne...
1       Monthly Observation Table for February 1 2020
2   Flag Definition Line: M - Missing; E - Estimat...
3   Station Name,Latitude,Longitude,Elevation,Year...
4     ,deg,deg,ft,,,Degrees F,,,Degrees F,Degrees F,,
5   Zeeland,46.01351,-99.68768,2070,2020,2,15.701,...
6   Zeeland,46.01351,-99.68768,2070,2020,3,29.808,...
7   Zeeland,46.01351,-99.68768,2070,2020,4,37.843,...
8   Zeeland,46.01351,-99.68768,2070,2020,5,52.073,...
9   Zeeland,46.01351,-99.68768,2070,2020,6,67.751,...
10  Zeeland,46.01351,-99.68768,2070,2020,7,71.383,...
11  Zeeland,46.01351,-99.68768,2070,2020,8,68.614,...
12  Zeeland,46.01351,-99.68768,2070,2020,9,55.591,...
13  Zeeland,46.01351,-99.68768,2070,2020,10,35.849...
14  Zeeland,46.01351,-99.68768,2070,2020,11,32.055...
15  Zeeland,46.01351,-99.68768,2070,2020,12,22.020...
16  Zeeland,46.01351,-99.68768,2070,2021,1,22.072,...
17  Zeeland,46.01351,-99.68768,2070,2021,2,6.279,0...
18  Zeeland,46.01351,-99.68768,2070,2021,3,35.949,...
19  Zeeland,46.01351,-99.68768,2070,2021,4,39.212,...
20  Zeeland,46.01351,-99.68768,2070,2021,5,52.352,...
21  Zeeland,46.01351,-99.68768,2070,2021,6,67.989,...
22  Zeeland,46.01351,-99.68768,2070,2021,7,72.565,...
23  Zeeland,46.01351,-99.68768,2070,2021,8,69.066,...
24  Zeeland,46.01351,-99.68768,2070,2021,9,61.380,...
25  Zeeland,46.01351,-99.68768,2070,2021,10,47.389...
26  Zeeland,46.01351,-99.68768,2070,2021,11,32.627...
27  Zeeland,46.01351,-99.68768,2070,2021,12,13.598...
28  Zeeland,46.01351,-99.68768,2070,2022,1,8.882,0...
29  Zeeland,46.01351,-99.68768,2070,2022,2,10.558,...
30  Zeeland,46.01351,-99.68768,2070,2022,3,27.794,...
31  Zeeland,46.01351,-99.68768,2070,2022,4,34.811,...
32  Zeeland,46.01351,-99.68768,2070,2022,5,52.737,...
33  Zeeland,46.01351,-99.68768,2070,2022,6,63.395,...
34  Zeeland,46.01351,-99.68768,2070,2022,7,69.275,...
35  Zeeland,46.01351,-99.68768,2070,2022,8,69.059,...
36  Zeeland,46.01351,-99.68768,2070,2022,9,59.497,...

# TabletoTable

In [1]:
arcpy.conversion.TableToTable(r"C:\Users\gisse015\Documents\ArcGIS\Projects\Lab1\ndawnnew.csv", r"C:\Users\gisse015\Documents\ArcGIS\Projects\Lab1\Lab1.gdb", "ndawn_1", '', r'Station Name "Station Name" true true false 8000 Text 0 0,First,#,C:\Users\gisse015\Documents\ArcGIS\Projects\Lab1\ndawnnew.csv,Station Name,0,8000;Latitude "Latitude" true true false 8 Double 0 0,First,#,C:\Users\gisse015\Documents\ArcGIS\Projects\Lab1\ndawnnew.csv,Latitude,-1,-1;Longitude "Longitude" true true false 8 Double 0 0,First,#,C:\Users\gisse015\Documents\ArcGIS\Projects\Lab1\ndawnnew.csv,Longitude,-1,-1;Elevation "Elevation" true true false 4 Long 0 0,First,#,C:\Users\gisse015\Documents\ArcGIS\Projects\Lab1\ndawnnew.csv,Elevation,-1,-1;Year "Year" true true false 4 Long 0 0,First,#,C:\Users\gisse015\Documents\ArcGIS\Projects\Lab1\ndawnnew.csv,Year,-1,-1;Month "Month" true true false 4 Long 0 0,First,#,C:\Users\gisse015\Documents\ArcGIS\Projects\Lab1\ndawnnew.csv,Month,-1,-1;Avg Temp "Avg Temp" true true false 8 Double 0 0,First,#,C:\Users\gisse015\Documents\ArcGIS\Projects\Lab1\ndawnnew.csv,Avg Temp,-1,-1;Number Missing "Number Missing" true true false 4 Long 0 0,First,#,C:\Users\gisse015\Documents\ArcGIS\Projects\Lab1\ndawnnew.csv,Number Missing,-1,-1,C:\Users\gisse015\Documents\ArcGIS\Projects\Lab1\ndawnnew.csv,Number Missing,-1,-1;Number Estimated "Number Estimated" true true false 4 Long 0 0,First,#,C:\Users\gisse015\Documents\ArcGIS\Projects\Lab1\ndawnnew.csv,Number Estimated,-1,-1,C:\Users\gisse015\Documents\ArcGIS\Projects\Lab1\ndawnnew.csv,Number Estimated,-1,-1;Monthly Normal Average Air Temperature "Monthly Normal Average Air Temperature" true true false 8 Double 0 0,First,#,C:\Users\gisse015\Documents\ArcGIS\Projects\Lab1\ndawnnew.csv,Monthly Normal Average Air Temperature,-1,-1;Departure from Normal Monthly Average Air Temperature "Departure from Normal Monthly Average Air Temperature" true true false 8 Double 0 0,First,#,C:\Users\gisse015\Documents\ArcGIS\Projects\Lab1\ndawnnew.csv,Departure from Normal Monthly Average Air Temperature,-1,-1', '')

In [2]:
arcpy.conversion.TableToTable(r"C:\Users\gisse015\Documents\ArcGIS\Projects\Lab1\ndawnnew2.csv", r"C:\Users\gisse015\Documents\ArcGIS\Projects\Lab1\Lab1.gdb", "ndawn_2", '', r'Station Name "Station Name" true true false 8000 Text 0 0,First,#,C:\Users\gisse015\Documents\ArcGIS\Projects\Lab1\ndawnnew2.csv,Station Name,0,8000;LAT "LAT" true true false 8 Double 0 0,First,#,C:\Users\gisse015\Documents\ArcGIS\Projects\Lab1\ndawnnew2.csv,LAT,-1,-1;LONG "LONG" true true false 8 Double 0 0,First,#,C:\Users\gisse015\Documents\ArcGIS\Projects\Lab1\ndawnnew2.csv,LONG,-1,-1;Elevation "Elevation" true true false 4 Long 0 0,First,#,C:\Users\gisse015\Documents\ArcGIS\Projects\Lab1\ndawnnew2.csv,Elevation,-1,-1;Year "Year" true true false 4 Long 0 0,First,#,C:\Users\gisse015\Documents\ArcGIS\Projects\Lab1\ndawnnew2.csv,Year,-1,-1;Month "Month" true true false 4 Long 0 0,First,#,C:\Users\gisse015\Documents\ArcGIS\Projects\Lab1\ndawnnew2.csv,Month,-1,-1;Avg Temp "Avg Temp" true true false 8 Double 0 0,First,#,C:\Users\gisse015\Documents\ArcGIS\Projects\Lab1\ndawnnew2.csv,Avg Temp,-1,-1;Number Missing "Number Missing" true true false 4 Long 0 0,First,#,C:\Users\gisse015\Documents\ArcGIS\Projects\Lab1\ndawnnew2.csv,Number Missing,-1,-1,C:\Users\gisse015\Documents\ArcGIS\Projects\Lab1\ndawnnew2.csv,Number Missing,-1,-1;Number Estimated "Number Estimated" true true false 4 Long 0 0,First,#,C:\Users\gisse015\Documents\ArcGIS\Projects\Lab1\ndawnnew2.csv,Number Estimated,-1,-1,C:\Users\gisse015\Documents\ArcGIS\Projects\Lab1\ndawnnew2.csv,Number Estimated,-1,-1;Monthly Normal Average Air Temperature "Monthly Normal Average Air Temperature" true true false 8 Double 0 0,First,#,C:\Users\gisse015\Documents\ArcGIS\Projects\Lab1\ndawnnew2.csv,Monthly Normal Average Air Temperature,-1,-1;Departure from Normal Monthly Average Air Temperature "Departure from Normal Monthly Average Air Temperature" true true false 8 Double 0 0,First,#,C:\Users\gisse015\Documents\ArcGIS\Projects\Lab1\ndawnnew2.csv,Departure from Normal Monthly Average Air Temperature,-1,-1', '')

# Define Projection

In [3]:
arcpy.management.XYTableToPoint("ndawn_1", r"C:\Users\gisse015\Documents\ArcGIS\Projects\Lab1\Lab1.gdb\ndawn_1_XYTableToPoint", "Longitude", "Latitude", None, 'GEOGCS["GCS_WGS_1984",DATUM["D_WGS_1984",SPHEROID["WGS_1984",6378137.0,298.257223563]],PRIMEM["Greenwich",0.0],UNIT["Degree",0.0174532925199433]];-400 -400 1000000000;-100000 10000;-100000 10000;8.98315284119521E-09;0.001;0.001;IsHighPrecision')

In [ ]:
arcpy.ba.FindNearbyLocations("ndawn_2_1", "Station", "ndawn_1_XYTableToPoint", r"C:\Users\gisse015\Documents\ArcGIS\Projects\Lab1\Lab1.gdb\ndawn_2_1_FindNearbyLocations", "STRAIGHT_LINE_DISTANCE", "MILES", 50, None, None, "DO_NOT_CREATE_REPORT", '', None, None, None, "TOWARD_STORES", None, "TIME_ZONE_AT_LOCATION", None)

In [1]:
with arcpy.EnvManager(scratchWorkspace=r"C:\Users\gisse015\Documents\ArcGIS\Projects\Lab1\Lab1.gdb", workspace=r"C:\Users\gisse015\Documents\ArcGIS\Projects\Lab1\Lab1.gdb"):
    arcpy.management.Merge("ndawn_1;ndawn_2", r"C:\Users\gisse015\Documents\ArcGIS\Projects\Lab1\Lab1.gdb\ndawn_1_Merge", 'Station "Name" true true false 4 Long 0 0,First,#,ndawn_1,Station,-1,-1,ndawn_2,Station,-1,-1;Latitude "Latitude" true true false 8 Double 0 0,First,#,ndawn_1,Latitude,-1,-1;Longitude "Longitude" true true false 8 Double 0 0,First,#,ndawn_1,Longitude,-1,-1;Elevation "Elevation" true true false 4 Long 0 0,First,#,ndawn_1,Elevation,-1,-1,ndawn_2,Elevation,-1,-1;Year "Year" true true false 4 Long 0 0,First,#,ndawn_1,Year,-1,-1,ndawn_2,Year,-1,-1;Month "Month" true true false 4 Long 0 0,First,#,ndawn_1,Month,-1,-1,ndawn_2,Month,-1,-1;Avg "Temp" true true false 4 Long 0 0,First,#,ndawn_1,Avg,-1,-1,ndawn_2,Avg,-1,-1;Number "Missing" true true false 4 Long 0 0,First,#,ndawn_1,Number,-1,-1,ndawn_2,Number,-1,-1;Number_1 "Estimated" true true false 4 Long 0 0,First,#,ndawn_1,Number_1,-1,-1,ndawn_2,Number_1,-1,-1;Monthly "Normal" true true false 4 Long 0 0,First,#,ndawn_1,Monthly,-1,-1,ndawn_2,Monthly,-1,-1;Departure "from" true true false 4 Long 0 0,First,#,ndawn_1,Departure,-1,-1,ndawn_2,Departure,-1,-1;LAT "LAT" true true false 8 Double 0 0,First,#,ndawn_2,LAT,-1,-1;LONG "LONG" true true false 8 Double 0 0,First,#,ndawn_2,LONG,-1,-1', "NO_SOURCE_INFO")

In [2]:
arcpy.management.XYTableToPoint("ndawn_1_Merge", r"C:\Users\gisse015\Documents\ArcGIS\Projects\Lab1\Lab1.gdb\ndawn_1_Merge_XYTableToPoint", "Longitude", "Latitude", None, 'GEOGCS["GCS_WGS_1984",DATUM["D_WGS_1984",SPHEROID["WGS_1984",6378137.0,298.257223563]],PRIMEM["Greenwich",0.0],UNIT["Degree",0.0174532925199433]];-400 -400 1000000000;-100000 10000;-100000 10000;8.98315284119521E-09;0.001;0.001;IsHighPrecision')

In [15]:
arcpy.conversion.TableToGeodatabase("ndawn_1_Merge", r"C:\Users\gisse015\Documents\ArcGIS\Projects\Lab1\Lab1.gdb")

In [21]:
import pandas as pd

df = pd.read_csv(r'C:\Users\gisse015\Documents\ArcGIS\Projects\Lab1\ndawn_Join.csv')

df.head()

   OBJECTID  Station  Latitude  Longitude  ...  Monthly  Departure  LAT  LONG
0         1      0.0  46.01351  -99.68768  ...       16          0  NaN   NaN
1         2      NaN       NaN        NaN  ...        0          0  NaN   NaN
2         3      0.0  46.01351  -99.68768  ...       28          2  NaN   NaN
3         4      NaN       NaN        NaN  ...        0          0  NaN   NaN
4         5      0.0  46.01351  -99.68768  ...       41         -3  NaN   NaN

[5 rows x 14 columns]